@{
    ViewData["Title"] = "Thông tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Member Id: @Model.LvtMemberId</p>
    <p>Member UserName: @Model.LvtUserName</p>
    <p>Member Password: @Model.LvtPassword</p>
    <p>Member FullName: @Model.LvtFullName</p>
    <p>Member Email: @Model.LvtEmail</p>
</div> 


