@model Lvtlesson07.Models.LvtEmployee

@{
    ViewData["Title"] = "LvtDetails";
}

<h1>LvtDetails</h1>

<div>
    <h4>LvtEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LvtStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LvtStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
